data: {
  data_dir: /ssd_scratch/cvit/amruth.sagar/ads_non_ads/train,
  reshape_height: 224,
  reshape_width: 224,
  train_val_split: [0.90, 0.10]
}
model: {
  batch_size: 32,
  train_bs: 32,
  valid_bs: 8,
  vit_pretrained: google/vit-base-patch16-224-in21k,
  learning_rate: 0.001,
  epochs: 20
}
of_test: {
  num_imgs_per_cls: 20,
  do_overfit_test: True,
  batch_size: 4,
  epochs: 200
}
ckpt: {
  ckpt_frequency: 20,
  ckpt_folder: /scratch/amruth.sagar/ADS
}
wandb: {
  wandb_log: True,
  project: Indic_ADS,
  entity: indicads,
  exp_name: all.data.ViT.Cls.head.b32.e150.vld=.10tr,
}
